/* "*" belgisi barcha elementlarga murojaatni anglatadi*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*bloklarning width ni o`zgarishini verstka uchun qulay qilib beradi*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*quyidagi teglarni blok qilib beradi*/
nav, footer, header, aside {
  display: block;
}

/*elementlarning hossalarini barcha brauzerlar uchun mo`tadillashtirib beradi*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Inter";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjusst: 100%;
  -moz-text-size-adjusst: 100%;
  -webkit-text-size-adjust: 100%;
}

/*quyidagi teglarning shriftlar oilasini vorislashi taminlanadi*/
input, button, textarea {
  font-family: inherit;
}

/*turli brauzerlarning o`ziga xos hususiyatlarini olib tashlash*/
input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-innesr {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

/*sarlavharning odatdagi stillarini nullashtirish*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.aboutwe {
  width: 100%;
  height: 420px;
  background-image: url("../images2/Image.jpg");
  background-repeat: no repeat;
  background-size: 100% 100%;
  display: flex;
  margin-bottom: 68px;
}

@media (max-width: 1000px) {
  .aboutwe {
    height: 200px;
  }
}
.about__we {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutwe__text {
  color: #274C5B;
  font-family: "Roboto";
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.avocado__plate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avocado__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.creative__thingscolumn {
  width: 40%;
}

.creative__things {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  padding-bottom: 140px;
}

.avocado__image {
  width: 50%;
}

.creative__success {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.avout__text {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.creative__thingstext {
  margin: 14px 0 50px 0;
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}

.modern__africulture {
  display: flex;
  margin-bottom: 58px;
}

.agriculture__equipment {
  display: flex;
  gap: 15px;
}

.tractor {
  width: 46px;
  height: 46px;
}

.modern__text {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 70%;
}

@media (max-width: 1250px) {
  .creative__things {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .avocado__image img {
    width: 100%;
  }
  .creative__thingscolumn {
    display: flex;
    width: 80%;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
  }
  .agriculture__equipment {
    align-items: center;
    gap: 10px;
  }
  .creative__things .organic__button {
    margin-top: 0px;
  }
}
@media (max-width: 480px) {
  .avocado__image img {
    width: 80%;
  }
  .creative__thingstext {
    font-size: 16px;
    margin: 10px 0 30px 0;
  }
}
@media (max-width: 320px) {
  .avocado__image img {
    width: 100%;
  }
  .creative__success {
    font-size: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .creative__thingstext {
    font-size: 20px;
    margin: 20px 0 40px 0;
  }
}
@media (max-width: 280px) {
  .creative__success {
    font-size: 36px;
  }
  .organic__textword {
    font-size: 14px;
  }
}
.why__choosesall {
  width: 100%;
  margin-bottom: 200px;
  background-color: #F9F8F8;
}

.why__chooseus {
  width: 100%;
  padding: 150px 20px;
}

.dontbuy__openmarket {
  width: 100%;
}

.dontbuy__textsection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.why__chooseustext {
  width: 50%;
}

.why__chooseusword {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.open__traderstext {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.open__paragraph {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  padding: 10px 0 36px 0;
}

.neatural__product {
  display: flex;
  flex-direction: column;
}

.allnatural__products {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.natural__productpunkt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  border-radius: 49px;
  background: #ECECEC;
  max-width: 340px;
  gap: 10px;
}

.one__naturaltext {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.natural__producttext {
  padding: 16px 0 0 60px;
  max-width: 440px;
}

.natural__producttitle {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}

.lemon__photo {
  width: 50%;
}

.lemon__img {
  width: 100%;
  border-radius: 30px;
}

@media (max-width: 1250px) {
  .dontbuy__textsection {
    display: flex;
    flex-direction: column;
  }
  .dontbuy__textsection .why__chooseustext {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }
  .dontbuy__textsection .why__chooseustext .allnatural__products {
    display: flex;
    flex-direction: row;
  }
}
.return__policy {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
  margin-top: 90px;
}

.return__policybox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  background: #ECECEC;
  align-items: center;
  padding: 50px 38px 50px 35px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.return__policybox:hover {
  transform: scale(1.05);
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.return__policybox:hover {
  background-color: #fff;
}

.purchase__box {
  width: 95px;
  height: 95px;
  border-radius: 18px;
  background: #F9F8F8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.return__text {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 15px 0 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return__paragraph {
  color: #525C60;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}

.organic__expert {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 20px 200px 20px;
}

.expert__team {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 42px;
}

.team__text {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.expert__text {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.expert__paragraph {
  color: #525C60;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  padding: 16px 0 0 0;
}

.expert__person {
  height: 100%;
  width: 100%;
  border-radius: 27px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.expert__person:hover {
  transform: scale(1.05);
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.expertperson__name:hover {
  background-color: #fff;
}

.expert__img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.expertperson__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F8F8;
  padding: 35px 28px;
  border-radius: 0 0 20px 20px;
}

.expertperson__job {
  display: flex;
  flex-direction: column;
}

.person__name {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.person__farmer {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.expertperson__socialmedia {
  padding-top: 30px;
}

.expertall__person {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
}

@media (max-width: 1000px) {
  .return__policy {
    padding: 0 20px;
    gap: 20px;
  }
  .expertall__person {
    padding: 0 20px;
    gap: 20px;
  }
}
.what__weoffer {
  width: 100%;
  background-color: #274C5B;
  margin-bottom: 150px;
}

.wee__offeryou {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 120px 20px;
}

.weoffer__textsection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

.all__offerimg {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
}

.what__wetext {
  color: #FFF;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.offer__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.offer__img:hover {
  transform: scale(1.05);
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.spicy {
  width: 100%;
  height: 330px;
  border-radius: 20px;
}

.spicy__text {
  color: #FFF;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 25px;
}

@media (max-width: 1000px) {
  .all__offerimg {
    padding: 0 20px;
  }
}
@media (max-width: 673px) {
  .spicy {
    height: 550px;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
}

main {
  padding: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1330px;
}

.organic__logo {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.organic__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 69px 20px;
}

.logo__section {
  display: flex;
  align-items: center;
}

.home__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-left: 30px;
  box-sizing: content-box;
  padding-left: 20px;
}

.Home {
  box-sizing: border-box;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  box-sizing: content-box;
  padding-left: 30px;
  transition: color 0.3s ease;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .Home {
    padding-left: 0;
  }
}
.Home:hover {
  color: #FF5733;
}

.search__section {
  display: flex;
  max-height: 66px;
  margin-left: 30px;
}

.search__button {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  transition: box-shadow 0.3s, transform 0.3s;
  background: #FAFAFA;
}

.type {
  max-width: 100%;
  width: 100%;
  padding-left: 35px;
  font-size: 30px;
  border-radius: 50px 0 0 50px;
  color: #274C5B;
  background: #FAFAFA;
  font-family: "Roboto", sans-serif;
}

.payment__button {
  display: flex;
  border: 1px solid #E0E0E0;
  padding: 0 20px 0 5px;
  border-radius: 50px;
  align-items: center;
}

.card__button {
  transition: transform 0.3s;
}

.cart {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 12px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 5px;
}

.search__button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.08);
}

.search__button:active {
  transform: translateY(2px);
}

.search {
  transition: transform 0.3s;
}

.search:active {
  transform: scale(0.9);
}

.card__button:active {
  transform: scale(0.9);
}

@media (max-width: 1200px) {
  .search__section {
    max-height: 80px;
  }
}
.menu__section {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-left: 5px;
  display: none;
}

.menu {
  width: 57px;
}

.menu__section {
  transition: transform 0.3s;
}

.menu__section:active {
  transform: scale(0.9);
}

.sidenav {
  display: none;
}

@media (max-width: 960px) {
  .home__section {
    display: none;
  }
  .menu__section {
    display: flex;
  }
  .sidenav {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: -1000px;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }
}
.sidenav-open {
  right: 0;
}

.sidenav p {
  padding: 15px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  color: #274C5B;
  text-decoration: none;
  display: block;
  font-size: 18px;
  transition: 0.3s;
}

.closebtn {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 80px;
  cursor: pointer;
  color: #274C5B;
}

.sidenav .Home1 {
  font-weight: bold;
  font-size: 50px;
  box-sizing: border-box;
  color: #274C5B;
  font-family: "Roboto";
  box-sizing: content-box;
  padding-left: 30px;
  transition: color 0.3s ease;
  cursor: pointer;
}

.Home1 p:hover {
  color: #FF5733;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 90px;
  padding: 0 50px;
}

.contact__us {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.contact__main {
  display: flex;
  justify-content: right;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact__main1 {
  display: flex;
  justify-content: left;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.email__all {
  color: #525C60;
  font-family: "Roboto", sans-serif;
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 165%;
  margin-bottom: 10px;
}

.contacts1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.phone {
  display: flex;
  justify-content: right;
  color: #7b8386;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  margin-bottom: 5px;
}

.contact__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 40%;
}

.logo__section {
  cursor: pointer;
}

.about {
  color: #525C60;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}

.social__media {
  display: flex;
}

.utility__pages {
  display: flex;
  flex-direction: column;
}

.unity__words {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 272.9%; /* 49.122px */
}

.combine__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
}

.contact__media1 {
  display: none;
}

@media (max-width: 1025px) {
  .contact__media {
    display: none;
  }
  .contacts {
    justify-content: space-around;
    padding: 0px 10px;
  }
  .contact__media1 {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
  }
  .social__media {
    gap: 5px;
  }
}
@media (max-width: 1025px) and (max-width: 725px) {
  .social {
    width: 50px;
  }
  .contact__media1 {
    gap: 10px;
  }
}
.copyright {
  width: 100%;
  border-top: 1px solid #D4D4D4;
  margin-top: 100px;
}

.copy {
  color: #525C60;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}

.organic {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 165.4%;
}

.explore__main {
  background-color: #F9F8F8;
  background-image: url("../images/Background.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explore__then {
  width: 35%;
}

.second__image {
  width: 100%;
}

.second__allimg {
  width: 50%;
}

.explore__now {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.explore__title {
  max-width: 530px;
}

.natural__food {
  color: #68A47F;
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.healthy__live {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.explore__button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 30px;
  max-width: 300px;
  border-radius: 16px;
  background: #EFD372;
  margin-top: 25px;
  min-width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

.explore__button1:hover {
  transform: scale(1.05);
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.explore__button1:active {
  transform: translateY(2px);
}

.explore__button1 {
  transition: transform 0.3s;
}

.explore__button1:active {
  transform: scale(0.9);
}

.explore__button1:active {
  transform: scale(0.9);
}

.explore__word1 {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 10px;
}

.narrow {
  margin-left: 10px;
}

.fresh__fruit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 150px;
  gap: 20px;
}

.natural {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.offer {
  color: #7EB693;
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.garden__word {
  color: #FFF;
  font-family: "Roboto";
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.get__garden {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-image: url("../images/Photo (6).jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 50%;
  background-repeat: no-repeat;
  border-radius: 50px;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 120px 0 120px 50px;
}

.i0__percent {
  display: flex;
  align-items: center;
  background-image: url("../images/Photo (5).jpg");
  background-size: 100% 100%;
  width: 50%;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 50px;
  padding: 120px 0 120px 50px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.i0__percent:hover {
  transform: scale(1.05);
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.get__garden:hover {
  transform: scale(1.05);
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

@media (max-width: 1000px) {
  .fresh__fruit {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 100px;
    padding: 0 20px;
  }
  .get__garden,
  .i0__percent {
    width: 100%;
  }
  .explore__main {
    padding: 0;
  }
}
.vegatebles__word {
  color: #274C5B;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.allfarmers__working {
  width: 100%;
  background-color: #F9F8F8;
}

.farmers__working {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #F9F8F8;
  margin-top: 190px;
  padding: 60px 0 140px 0;
}

@media (max-width: 1000px) {
  .farmers__working {
    padding: 0 20px;
  }
}
.fruits {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fruits__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120%;
}

.about__us {
  margin-top: 60px;
  width: 50%;
}

.aboutus__word {
  color: #7EB693;
  font-family: "Yellowtail", cursive;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.we__believe {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 8px;
  margin-bottom: 15px;
}

.lorem__words {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}

.food {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 46px 0;
}

.organic__speech {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.symply__organic {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}

.organic__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 30px;
  max-width: 16%;
  border-radius: 16px;
  min-width: 220px;
  background: #274C5B;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

.organic__button:hover {
  transform: scale(1.05);
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.organic__button:active {
  transform: translateY(2px);
}

.organic__button {
  transition: transform 0.3s;
}

.organic__button:active {
  transform: scale(0.9);
}

.organic__button:active {
  transform: scale(0.9);
}

.organic__textword {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .farmers__working {
    align-items: center;
    margin: 100px 0;
  }
  .fruits,
  .about__us {
    width: 100%;
  }
  .fruits__img {
    width: 100%;
    height: 400px;
  }
  .about__ustitle {
    text-align: center;
  }
  .we__believe {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .lorem__words,
  .symply__organic {
    font-size: 14px;
    line-height: 150%;
  }
  .food {
    display: flex;
    gap: 20px;
    margin: 30px 0;
  }
  .plate {
    display: flex;
    justify-content: left;
  }
  .organic__button {
    max-width: 180px;
    padding: 20px 30px;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .we__believe {
    font-size: 28px;
  }
  .lorem__words,
  .symply__organic {
    font-size: 12px;
    line-height: 140%;
  }
  .organic__speech {
    font-size: 20px;
  }
  .organic__button {
    max-width: 150px;
    padding: 15px 25px;
    font-size: 14px;
  }
}
@media (max-width: 320px) {
  .we__believe {
    font-size: 24px;
  }
  .lorem__words,
  .symply__organic {
    font-size: 11px;
    line-height: 130%;
  }
  .organic__speech {
    font-size: 18px;
  }
  .organic__button {
    max-width: 140px;
    padding: 12px 20px;
    font-size: 12px;
  }
}
.products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 175px 0 0 0;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category__text {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.category__products {
  color: #274C5B;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.typeof__products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  background: #F9F8F8;
  gap: 20px;
  padding: 17px 30px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.typeof__products:hover {
  transform: scale(1.05);
  box-shadow: 7px 30px 30px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.food__types {
  margin-top: 20px;
}

.vegatebles__button {
  display: flex;
  max-width: 96px;
  padding: 5px 12px 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #274C5B;
}

.vegatebles__textword {
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.vegatevle__img {
  width: 100%;
  height: 255px;
}

.calebrese {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.broccoli__prise {
  display: flex;
  margin-top: 13px;
  justify-content: space-between;
  padding-top: 6px;
  border-top: 1px solid #DEDDDD;
}

.prise__number {
  color: #274C5B;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  line-height: normal;
}

.overflow__prise {
  color: #B8B8B8;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: line-through;
}

.type__allproducts {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
  margin: 40px 0 122px 0;
}

.replies {
  width: 100%;
  background-image: url("../images/Image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 100px 0 0 0;
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.costumer__repliec {
  width: 100%;
}

.her__replice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 200px;
}

@media (max-width: 800px) {
  .her__replice {
    padding: 0 0;
  }
}
.testimonial {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.costumer__saying {
  color: #274C5B;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.sircle__marks {
  border: 3px solid #7EB693;
  width: 211px;
  padding: 64px 44px;
  border-radius: 50%;
}

.one__hundret {
  color: #274C5B;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.one__organic {
  color: #274C5B;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 165.4%;
}

.ofcostumer {
  margin-top: 60px;
  border-radius: 50%;
}

.costumer__star {
  margin-bottom: 25px;
}

.her__comment {
  color: #525C60;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  margin-bottom: 20px;
  padding: 0 100px;
}

.hername {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.consumer {
  color: #525C60;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 24.81px */
}

.her__marks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 230px 150px 165px 150px;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (max-width: 1000px) {
  .sircle__marks {
    width: 80px;
    padding: 20px;
  }
  .her__marks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .one__hundret {
    color: #274C5B;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .one__organic {
    color: #274C5B;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 7px;
    font-style: normal;
    font-weight: 600;
    line-height: 165.4%;
  }
}
@media (max-width: 768px) {
  .sircle__marks {
    width: 120px;
    padding: 30px;
  }
  .one__hundret {
    font-size: 24px;
  }
  .one__organic {
    font-size: 10px;
  }
}
.offer__organic {
  width: 100%;
  background: #274C5B;
  padding: 100px 0;
}

.offer__textsection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.offer__theword {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.weord__organic {
  color: #FFF;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.explore__button {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 30px;
  border-radius: 16px;
  background: #EFD372;
  margin-top: 25px;
  min-width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

.explore__button:hover {
  transform: scale(1.05);
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.explore__button:focus {
  outline: none;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.explore__button:active {
  transform: translateY(0);
  box-shadow: none;
}

.explore__word {
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 10px;
}

.breanches {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
}

.iconis {
  width: 100%;
  background-image: url("../images/1.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-repeat: no-repeat;
}

.freandly__iconis {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 180px 0 180px 800px;
}

.eco__freandly {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.econis__isfreandly {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 35px;
}

.ourcompany {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.start__withus {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.setup__comment {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}

@media (max-width: 1200px) {
  .freandly__iconis {
    padding: 180px 0 180px 550px;
  }
}
@media (max-width: 992px) {
  .freandly__iconis {
    padding-left: 500px;
  }
  .econis__isfreandly {
    font-size: 40px;
  }
  .start__withus {
    font-size: 24px;
  }
  .setup__comment {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .freandly__iconis {
    padding-left: 400px;
  }
  .econis__isfreandly {
    font-size: 36px;
  }
  .start__withus {
    font-size: 20px;
  }
  .setup__comment {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .freandly__iconis {
    padding-left: 350px;
  }
  .econis__isfreandly {
    font-size: 30px;
  }
  .start__withus {
    font-size: 18px;
  }
  .setup__comment {
    font-size: 12px;
  }
}
@media (max-width: 1000px) {
  .offer__organic {
    padding: 100px 20px 100px 20px;
  }
  .breanches {
    gap: 20px;
  }
}
.juice__all {
  width: 100%;
  background: #F1F8F4;
}

.juice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 580px;
  gap: 42px;
  height: auto;
  padding: 180px 0;
}

@media (min-width: 768px) {
  .juice {
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
  }
}
@media (min-width: 1024px) {
  .juice {
    grid-template-columns: repeat(3, 1fr);
  }
}
.organic__juicetable {
  width: 100%;
  height: 100%;
  padding: 200px 0;
  background-image: url("../images/Photo (8).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s, box-shadow 0.3s;
}

.organic__juicetable:hover,
.organic__juicetable1:hover,
.organic__juicetable2:hover {
  transform: scale(1.05);
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.organic__juicetable1 {
  width: 100%;
  height: 100%;
  padding: 250px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/Photo (9).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.3s, box-shadow 0.3s;
}

.organic__juicetable2 {
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  height: 100%;
  padding: 250px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/Photo (10).jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.organic__juicetable {
  display: flex;
  align-items: center;
  justify-content: center;
}

.juicetable__button {
  display: flex;
  max-width: 300px;
  padding: 28px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border-radius: 20px;
  background: #FFF;
}

.juicetable__textword {
  color: #274C5B;
  font-family: "Roboto" sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media (max-width: 576px) {
  .juice {
    grid-template-columns: repeat(1, 1fr);
  }
  .organic__juicetable,
  .organic__juicetable1,
  .organic__juicetable2 {
    padding: 150px 0;
  }
}
.all__emailmessage {
  width: 100%;
}

.email__message {
  background-image: url("../images/Image (1).png");
  background-size: 100% 100%;
  padding: 110px 55px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  border-radius: 50px;
}

.subscribe {
  max-width: 350px;
}

.subscribe__word {
  color: #fff;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.email__sending {
  display: flex;
  gap: 6px;
}

.your__adress {
  height: 80px;
  width: 350px;
  border-radius: 16px;
  padding-left: 20px;
  font-size: 30px;
  font-family: "Roboto";
}

.your__adress {
  transition: transform 0.3s;
}

.your__adress:active {
  transform: scale(0.98);
}

.subscribe__button {
  display: flex;
  max-width: 220px;
  padding: 28px 60px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  background: #274C5B;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

.subscribe__button:hover {
  transform: scale(1.05);
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.subscribe__button:focus {
  outline: none;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.subscribe__button:active {
  transform: translateY(0);
  box-shadow: none;
}

.subscribe__textword {
  color: #FFF;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.weekly__contex {
  margin-top: 100px;
  margin-bottom: 170px;
  width: 100%;
}

.news {
  display: flex;
  justify-content: space-between;
}

.news__text {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news__title {
  width: 50%;
}

.weekly__discover {
  color: #274C5B;
  font-family: "Roboto";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.morenews__button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 30px;
  max-width: 300px;
  border-radius: 16px;
  min-width: 200px;
  border-radius: 16px;
  border: 2px solid #274C5B;
  background: #FFF;
  max-height: 100px;
  margin-top: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

.morenews__button:hover {
  transform: scale(1.05);
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  outline: none;
}

.morenews__button:focus {
  outline: none;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.morenews__button:active {
  transform: translateY(0);
  box-shadow: none;
}

.morenews__textword {
  color: #274C5B;
  font-family: "Roboto";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.news__chat {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
  width: 100%;
  margin-top: 45px;
}

.chat__box {
  width: 100%;
  height: 530px;
  background-image: url("../images/Photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 35px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  position: relative;
}

.chat__box1 {
  width: 100%;
  height: 530px;
  background-image: url("../images/Photo (1).png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 35px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  position: relative;
}

@media (max-width: 800px) {
  .news__chat {
    grid-template-columns: 1fr;
    gap: 110px;
  }
}
.november {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #274C5B;
  padding: 0 10px;
  text-align: center;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.benefits {
  position: absolute;
  bottom: -50px;
  left: 80px;
  right: 80px;
  max-width: 600px;
  background-color: #fff;
  padding: 46px;
  border-radius: 40px;
  align-items: center;
  box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);
}

.byrachi {
  color: #274C5B;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.humanvector {
  margin-right: 10px;
}

.vitamin__d {
  color: #274C5B;
  font-family: "Roboto";
  font-size: 25px;
  font-style: normal;
  font-weight: 1000;
  line-height: normal;
}

.vitamind__text {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}

@media (min-width: 577px) and (max-width: 767px) {
  .news__chat {
    gap: 100px;
  }
  .chat__box,
  .chat__box1 {
    padding: 50px 30px;
  }
  .benefits {
    padding: 30px;
  }
}
@media (min-width: 768px) {
  .news__chat {
    gap: 40px;
  }
  .chat__box,
  .chat__box1 {
    padding: 60px 35px;
  }
  .benefits {
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .news__chat {
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .freandly__iconis {
    padding-left: 350px;
  }
  .explore__button,
  .explore__button1 {
    width: 333px;
    height: 100px;
  }
}
@media (max-width: 700px) {
  .explore__now {
    padding: 30px 20px;
  }
  .explore__now .healthy__live {
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
@media (max-width: 1000px) {
  .email__message {
    padding: 0 20px;
    height: 300px;
  }
  .all__emailmessage {
    padding: 0 20px;
  }
  .subscribe__button {
    padding: 18px 45px;
  }
  .your__adress {
    width: 200px;
  }
  .weekly__contex,
  .juice__container {
    padding: 0 20px;
  }
  .freandly__iconis {
    padding-right: 20px;
  }
  .products {
    padding: 0;
  }
  .replies {
    margin: 100px 0 0 0;
    padding: 50px 0 50px 0;
  }
  .vegatevle__img {
    height: 250px;
  }
  .type__allproducts {
    gap: 20px;
    padding: 0 20px;
  }
  .subscribe__word {
    color: #ffffff;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-right: 10px;
  }
  .natural__producttext {
    padding: 16px 0 0 20px;
  }
  .natural__productpunkt {
    padding: 30px 20px;
  }
}