@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Yellowtail&display=swap');


.aboutwe {
    width: 100%;
    height: 420px; 
    background-image: url("../images2/Image.jpg");
    background-repeat: no repeat;
    background-size: 100% 100%;
    display: flex;
    margin-bottom: 68px;

    
}
@media (max-width: 1000px) {
   .aboutwe {
    height: 200px;

   }
}
.about__we {
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.aboutwe__text {
    color: #274C5B;
    font-family: 'Roboto' ;
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}



.avocado__plate {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.avocado__image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
}
.creative__thingscolumn {
    width: 40%;
}

.creative__things {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    padding-bottom: 140px;
}
.avocado__image {
    width: 50%;
}
.creative__success {
    color: #274C5B;
font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
}


.avout__text {
    color: #7EB693;
font-family: Yellowtail;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.creative__thingstext {
    margin: 14px 0 50px 0;
    color: #525C60;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 165.4%; /* 29.772px */
}
.modern__africulture {
    display: flex;
    margin-bottom: 58px;


}
.agriculture__equipment {
    display: flex;
    gap: 15px;
}
.tractor {
    width: 46px;
    height: 46px;
}
.modern__text {
    color: #274C5B;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
width: 70%;
}
.organic__button {
}
.organic__textword {
}
.narrow {
}
@media (max-width: 1250px) {
    .creative__things {
        flex-direction: column; 
        align-items: center;
        justify-content: center;
    }
    .avocado__image img {
        width: 100%;
    }
    .creative__thingscolumn {
        display: flex;
        width: 80%;
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
    }
    .agriculture__equipment {
        align-items: center; 
        gap: 10px; 
    }
    .creative__things {
        .organic__button {
            margin-top: 0px;
        }
    }
   

    
}

@media (max-width: 480px) {
    .avocado__image img {
        width: 80%;

        
    }
    .creative__thingstext {
        font-size: 16px; 
        margin: 10px 0 30px 0; 
    }
    
}

@media (max-width: 320px) {
    .avocado__image img {
        width: 100%; 
    }
    .creative__success {
        font-size: 40px; 
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .creative__thingstext {
        font-size: 20px;
        margin: 20px 0 40px 0;
    }
}

@media (max-width: 280px) {
    .creative__success {
        font-size: 36px; 
    }
    .organic__textword {
        font-size: 14px;
    }
}



.why__choosesall {
    width: 100%;
    margin-bottom: 200px;
    background-color: #F9F8F8;
}
.why__chooseus {
    width: 100%;
    padding: 150px 20px;
}
.container {
}
.dontbuy__openmarket {
    width: 100%;

}
.dontbuy__textsection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;

}
.why__chooseustext {
    width: 50%;


}
.choose__uscentense {
}
.why__chooseusword {
    color: #7EB693;
font-family: Yellowtail;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.open__traderstext {
    color: #274C5B;
font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.open__paragraph {
    color: #525C60;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 165.4%; /* 29.772px */
padding: 10px 0 36px 0;
}
.neatural__product {
    display: flex;
    flex-direction: column;
}
.allnatural__products {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.natural__productpunkt {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    border-radius: 49px;
background: #ECECEC;
max-width: 340px;
gap: 10px;

}
.icon__sircle {
}
.one__naturaltext {
    color: #274C5B;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.natural__producttext {
    padding: 16px 0 0 60px;
    max-width: 440px;
}
.natural__producttitle {
    color: #525C60;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 165.4%; /* 29.772px */
}
.lemon__photo {
    width: 50%;
}
.lemon__img {
    width: 100%;
    border-radius: 30px;
}


@media (max-width: 1250px) {
    .dontbuy__textsection {
        display: flex ;
        flex-direction: column;
        .why__chooseustext {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 80%;
            .allnatural__products {
                display: flex;
                flex-direction: row;
            }
        }
    }
}


.return__policy {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
    margin-top: 90px;
}


.return__policybox {
   display: flex;
   justify-content: center;
   flex-direction: column;
border-radius: 30px;
background: #ECECEC;
align-items: center;
padding: 50px 38px 50px 35px;
transition: transform 0.3s, box-shadow 0.3s; 
}
.return__policybox:hover {
    transform: scale(1.05);
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
       outline: none; 
}
.return__policybox:hover {
    background-color: #fff;
}
.purchase__box {
    width: 95px;
    height: 95px;
    border-radius: 18px;
background: #F9F8F8;
display: flex;
align-items: center;
justify-content: center;
}
.purchase__img {
}
.return__policytext {
}
.return__text {
    color: #274C5B;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding: 15px 0 12px 0;
display: flex;
justify-content: center;
align-items: center;
}
.return__paragraph {
    color: #525C60;
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 165.4%; /* 29.772px */
}




.organic__expert {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20px 200px 20px;
}
.container {
}
.expert__team {
    max-width: 850px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 42px;
}
.team__text {
    color: #7EB693;
font-family: Yellowtail;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.expert__text {
    color: #274C5B;
font-family: Roboto;
font-size: 50px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.expert__paragraph {
    color: #525C60;
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 165.4%; /* 29.772px */
padding: 16px 0  0 0;
}
.expert__person {
    height: 100%;
    width: 100%;
    border-radius: 27px;
    transition: transform 0.3s, box-shadow 0.3s; 
}
.expert__person:hover {
    transform: scale(1.05);
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
       outline: none; 
}
.expertperson__name:hover {
    background-color: #fff;
}
.expertperson__img {
}
.expert__img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.expertperson__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F8F8;
    padding: 35px 28px;
    border-radius: 0 0 20px 20px;

}
.expertperson__job {
    display: flex;
    flex-direction: column;
}
.person__name {
    color: #274C5B;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.person__farmer {
    color: #7EB693;
font-family: Yellowtail;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.expertperson__socialmedia {
    padding-top: 30px;

}
.facebook__twitter {
}

.expertall__person {
    width: 100%;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
}

@media (max-width: 1000px) {
    .return__policy {
        padding: 0 20px;
        gap: 20px;
    }
    .organic__expert {

    }
    .expertall__person {
        padding: 0 20px;

        gap: 20px;
    }
}




.what__weoffer {
    width: 100%;
    background-color: #274C5B;
    margin-bottom: 150px;
}


.wee__offeryou {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 120px 20px;

}
.container {
}
.weoffer__textsection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   padding-bottom: 25px;
}
.all__offerimg {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
    
}
.avout__text {
}
.what__wetext {
    color: #FFF;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.offer__img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px ;
    transition: transform 0.3s, box-shadow 0.3s; 
}
.offer__img:hover {
    transform: scale(1.05);
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
       outline: none; 
}

.spicy {
    width: 100%;
    height: 330px;
    border-radius: 20px;
}
.spicy__text {
    color: #FFF;
font-family: Roboto;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 25px;
}


@media (max-width: 1000px) {
    .all__offerimg {
        padding: 0 20px;
    }
}
@media (max-width: 673px) {
   .spicy {
    height: 550px;
   } 
}